<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #478d8d;">
  <a class="navbar-brand" href="#"><i class="nes-logo"></i> Arcade-chat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
    </ul>
    <a href="/">
        <button type="button" class="nes-btn is-warning" >
            Login
        </button>
    </a>
    &nbsp;
    <a href="/signup">
        <button type="button" class="nes-btn is-primary" >
            Signup
        </button>
    </a>
    &nbsp; &nbsp;
  </div>

</nav>