<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arcade-chat | Home</title>
    <link rel="icon" type="image/gif" href="../public/img/web-icon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./../public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
</head>
<body>
    {{> navbar}}
    
    <div class="col-12 searchbar">
        <form action="" method="post">
            <div class="form-group ad-30 " style="margin-top:8px;">
                <div class="input-group search-style nes-field">
                    <input class="form-control new-search-bar nes-input"  name="country" id="search" placeholder="this does not work... yet" type="text">
                    <span class="input-group-btn">
                        <button class="btn input-btn nes-btn is-primary" type="button" id="search-form">Search</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
            
    <div class="cards-div">     
        <div class="category-list">
            <div class="row">
                <form action="#" method="post" id="add-fav">
                    {{#each output}}
                    <div class="item col-md-3 ">
                        <div class="thumbnail">
                            <a href="/group/{{temp_name}}">
                            <img src="{{image}}" class ="room_img"alt="room img">
                            </a>
                            <div class="caption">
                                {{name}}
                                
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        {{!-- <p>
                                            Country
                                        </p> --}}
                                    </div>
                                    
                                    <div class="col-xs-12 col-md-6">
                                        {{!-- <button class="btn add-fav">
                                            Add To Favorite
                                        </button> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </form>
            </div>
        </div>
    </div>
</body>