
<head>
    <meta charset="UTF-8">
    <title>Arcade-chat | Signup</title>
    <link rel="icon" type="image/gif" href="../public/img/web-icon.png" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../public/css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

</head>
<body>
 {{> login-nav}}
<div id="main">
    <div class="main nes-container">
        {{!-- <h1 class="title">Sign Up</h1> --}}
        <form action="/signup" method="post">
            <h1>
                <a href="/auth/facebook" class="btn-social btn-facebook btn-lg">
                    <i class="nes-icon facebook is-medium"></i> Sign Up With Facebook
                </a>
            </h1>
            

            <h1>
                Or...
            </h1>

            {{#if flag}}
            <div class="alert alert-danger text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{#each messages}}
                     {{this}}
                {{/each}}              
            </div>
            {{/if}}
             <div class="inset">
                <div class="nes-field">
                  <label for="username name_field">USERNAME</label>
                  <input type="text" name="username"  class="nes-input" >
                </div>  

                <div class="nes-field">
                    <label for="email email-field">EMAIL ADDRESS</label>
                    <input type="text" name="email" placeholder="" class="nes-input" />
                </div>
                <p>
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <a href="/" class="to-login nes-pointer"><button type="button" class="nes-btn nes-pointer is-normal">Login Instead</button></a>
                <button type="submit button" class="nes-btn is-primary nes-pointer login-log" value="Register">Sign up!</button>
            </p>
        </form>
    </div>
</div> 
</body>



